/*
    Created on : 21/07/2014, 10:48:18
    Author     : gilmario
*/

.card{
    margin: 5px;
    padding: 0;
    width: 100px;
    height: 125px;
    background-color: #99ccff;
    transition: 0.5s linear;
    border: 3px solid #0000ff;
    border-radius: 5px;
    position: relative;
    transform: scale(1);
    z-index: 1;
}
.card{
    margin: 5px;
    padding: 0;
    width: 100px;
    height: 125px;
    transition: 0.5s linear;
    border: 3px solid #0000ff;
    border-radius: 5px;
    position: relative;
    transform: scale(1);
    z-index: 1;
}

.card-fechada{
    background-color: #6666ff;
}
.card-desativada{
    background-color: #cccccc;
}

.card-virada{
    transition: 0.5s linear;
    transform: scale(1.5) rotatey(360deg) ;
    z-index: 9999;
}

.card-virada-emcampo{
    transition: 0.5s linear;
    background-color: #99ccff;
    transform: scale(1);
}

.selecionada{
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.9);
    z-index: 9999;
}

.card-nome{
    text-align: left;
    font-size: 10px;
    border: 1px solid #ffff33;
    width: 100%;
}

.tabuleiro{
    border-radius: 5px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,255,0.2);
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 600px;
    background-color: #888;
}


.maojogador {
    background-color: #FFF;
    border: 1px solid #000;
    height: 180px;
    padding: 5px;
    position: fixed;
    width: 94%;
    left: 3%;
    bottom: 2%;
    z-index: 1;
    box-shadow: -5px -5px 5px 0px rgba(100,100,100,0.6);
}
